<div class="w-80 h-36 border-2 border-slate-300 rounded-lg p-3 my-2">
    <div class="flex items-center">
        <div class="left w-1/2">
            <div class="my-1" *ngIf="windSpeed">
                <div class="text-sm">Wind</div>
                <div class="text-lg font-bold"> {{windSpeed}} <span class="text-xs">km/hr</span></div>
            </div>
            <hr />
            <div class="my-1" *ngIf="gusts">
                <div class="text-sm">Gusts</div>
                <div class="text-lg font-bold"> {{gusts}} <span class="text-xs">km/hr</span></div>
            </div>
        </div>
        <div class="right w-1/2 wind-direction">
            <app-wind-direction [windDirection]="windDirection"/>
        </div>
    </div>
    
    <!-- <div class="vb-val text-4xl">{{value}} 
        <span class="text-xs" *ngIf="unit!='deg'; then unit_box; else deg_box"></span>
        <ng-template #unit_box>
            <span class="text-xs">
                {{unit}}
            </span>
        </ng-template>
        <ng-template #deg_box>&deg;</ng-template>
    </div> -->
</div>